@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&family=Noto+Sans+Arabic&display=swap');

:root {
    --yellow: #e2bd46;
}

html {
    font-family: 'El Messiri', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    height: 100vh;
    width: 100%;    
}

.section-title  {
    font-size: 2rem;
    font-weight: bold;
    color: var(--yellow);
    margin-right: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.section-title-white  {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-right: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}


.section-title-white p{
    margin-bottom: -10px;

}

.section-title-white img {
    width: 75px;
}
.section-title p{
    margin-bottom: -10px;

}

.section-title img {
    width: 75px;
}

#section-one {
    background-color: grey;
    background-image: url(./images/night-sky-2560x1440-night-city-earth-sky-stars-clouds-light-height-421.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    /* z-index: 39; */
    height: 87.5vh;
    display: flex;
}

.inner-section {
    width: 85%;
    height: 85.5%;
    margin: auto;
    border: 4px solid white;
    /* background-image: url(./images/Untitled-1-07.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
}

.inner-section .section-info {
    width: 37.5%;
    height: 100%;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.85);
    margin-right: 5%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.inner-section .section-info .section-title {
    font-size: 4.75rem;
    font-weight: bold;
    color: var(--yellow);
    line-height: 6rem;
}

.inner-section .section-info .section-body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-content: center;
}

.section-info .section-body p {
    font-size: 1.1rem;
    line-height: 2.2rem;
    font-weight: 100;
}

.section-info .section-body a {
    text-decoration: none;
    color: white;
}

.section-body .btn {
    background-color: var(--yellow);
    width: 100px;
    margin: 0 auto;
    border-radius: 50px;
    font-size: .8rem;
    padding: 2px 0px;
    text-align: center;
    margin-top: 10px;
}

.section-body .btn:hover {
    background-color: rgb(169, 139, 40);
    color: #e2bd46;
}

#latest-events {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    margin: 20px 0 50px 0;
    text-align: end;
}

#latest-events .section-body {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 75px;
}

.section-body .event {
    display: flex;
    width: 80%;
    height: 400px;
    margin: auto;
}

.event:nth-of-type(2n), .event:nth-of-type(2n) .event-image {
    flex-direction: row-reverse;
}

.event-info {
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: auto;
    justify-content: center;
    width: 40%;
}

.event-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--yellow);
    margin-bottom: 10px;
}

.event-content {
    line-height: 2rem;
}

.event-image {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.event-image .evnt-img {
    height: 100%;
    width: 525px;
}

.event-image .event-flower {
    height: 175px;
}

#latest-drops {
    background-color: #e2bd46;
    /* background-image: url(./images/Untitled-1-06.png); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.latest-drops-body {
    width: 80%;
    margin: auto;
}

.latest-drop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    padding: 100px 0;
    /* background-image: url(./images/white\ logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.4; */
    background-image: url(./images/Untitled-1-04.png);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: 36%;
}

.latest-drop .drop-body {
    text-align: right;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.drop-body .drop-title {
    color: white;
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.drop-title h1 {
    margin: 0;
}

.drop-title img {
    width: 125px;
}

.drop-image {
    width: 48%;
}

.drop-image .main-image {
    width: 70%;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.drop-body .drop-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 20%;
}

.drop-body .drop-info .single-info{
    font-size: 1.1rem;
    height: 40px;
}

.single-info span {
    font-size: 1.35rem;
    font-weight: bold;
}

.btn-white {
    background-color: white;
    width: 120px;
    margin: 0 ;
    border-radius: 50px;
    font-size: 1rem;
    padding: 3px 0px;
    text-align: center;
    margin-top: 50px;
    margin-right: 0;
}

.btn-white a {
    color: #e2bd46;
    text-decoration: none;
}




