@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&family=Noto+Sans+Arabic&display=swap');

:root {
    --yellow: #e2bd46;
}

html {
    font-family: 'El Messiri', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    height: 100vh;
    width: 100%;    
}

#section-one {
    background-color: grey;
    background-image: url(./images/night-sky-2560x1440-night-city-earth-sky-stars-clouds-light-height-421.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    /* z-index: 39; */
    height: 87.5vh;
    display: flex;
}

.inner-section {
    width: 85%;
    height: 85.5%;
    margin: auto;
    border: 4px solid white;
    /* background-image: url(./images/Untitled-1-07.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
}

.inner-section .section-info {
    width: 37.5%;
    height: 100%;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.85);
    margin-right: 5%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.inner-section .section-info .section-title {
    font-size: 4.75rem;
    font-weight: bold;
    color: var(--yellow);
    line-height: 6rem;
}

.inner-section .section-info .section-body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-content: center;
}

.section-info .section-body p {
    font-size: 1.1rem;
    line-height: 2.2rem;
    font-weight: 100;
}

.section-info .section-body a {
    text-decoration: none;
    color: white;
}

.section-body .btn {
    background-color: var(--yellow);
    width: 100px;
    margin: 0 auto;
    border-radius: 50px;
    font-size: .8rem;
    padding: 2px 0px;
    text-align: center;
    margin-top: 10px;
}

.section-body .btn:hover {
    background-color: rgb(169, 139, 40);
    color: #e2bd46;
}


